
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 style="text-align: center">New Ad (Cookies)</h1>
        <br />
        <form action="/cookies/newad" method="post" class="card card-body bg-light">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Name" name="name" />
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" />
                </div>
            </div>
            <br />
            <textarea name="text" class="form-control" rows="10" placeholder="Text for ad"></textarea>
            <br />
            <div class="col-md-2">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

